.zscustom-section-coffeesquare-banner { padding: 0px; }
.zscustom-section-coffeesquare-banner .zscustom-min-vh-100 { min-height: 700px; min-height: 100vh; }

@media (min-width: 992px) { .zpheader-style-02 .theme-header.theme-header-navigation-style, .zpheader-style-05 .theme-header.theme-header-navigation-style { border-top: none; } }
